---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>

  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h2 class="title">{{ page.title }}</h2>
    
    <p class="meta">
	分类：<a href="/categories/{{ page.categories | first }}/" title="view all posts">{{ page.categories | first }}</a>
	</p>
    <p class="meta">
	日期：{{ page.date | date: "%B %-d, %Y" }}
	</p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>
  

</article>
  <hr />
<article class="bottom-nav">
  <section>
	{% if page.previous %}
	<a class="page-preview" href="{{ page.previous.url }}">上一篇:{{ page.previous.title }}</a>
	{% endif %}
	{% if page.next %}
	<a class="page-next" href="{{ page.next.url }}">下一篇:{{ page.next.title }}</a>
	{% endif %}
  </section>
</article>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
